html {
    font-size: 16px;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.read-all, .name {
    text-decoration: none;
}

.read-all, .notification-inner {
    color: hsl(219, 12%, 42%);
}

h1, .name {
    color: hsl(224, 21%, 14%);
}

.date {
    color: hsl(219, 14%, 63%);
}

a {
    text-decoration: none;
}

a.group-link {
    color: hsl(219, 85%, 26%);
}

a.post-link {
    color: hsl(219, 12%, 42%);
}

.message p {
    color: hsl(219, 12%, 42%);
}

.dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: hsl(1, 90%, 64%);
}

.header {
    display: flex;
    align-items: center;
}

.header h1 {
    font-size: 1.5rem;
}

.read-all {
    margin-left: auto;
}

.counter {
    background: hsl(219, 85%, 26%);
    color: hsl(0, 0%, 100%);
}

.name, .header h1, a.link {
    font-weight: 800;
}

p, a {
    font-weight: 500;
}

.notification:not(.unread) .dot {
    display: none;
}

.notification.unread a.name:hover, .notification.unread a.link:hover, .read-all:hover {
    color: hsl(219, 85%, 26%);
}