@media screen and (max-width: 2000px) {
    .header {
        margin-inline: 1rem;
        margin-top: 1rem;
    }

    .row {
        display: flex;
        margin-top: 2rem;
        margin-inline: 1.5rem;
    }

    /* for some reason this element did'nt want to be aligned on the right */
    .row:nth-child(6) .notification-inner {
        display: inline-grid;
        width: calc(100% - 1.5rem);        
    }

    .row:nth-child(6), .row:nth-child(6) .notification {
        width: calc(100% - 1.5rem);
    }
    
    .notification-inner-img {
        justify-self: flex-end;
    }
    
    .row:last-child {
        margin-bottom: 2rem;
    }

    .notification {
        margin-left: 0.5rem;
    }

    .message {
        margin-top: 1rem;
        padding-inline: 1rem;
        padding-block: 1rem;
    }
}