@media screen and (max-width: 600px) {
    .header {
        margin-inline: 1rem;
        margin-top: 1rem;
    }

    .row {
        display: flex;
        margin-top: 2rem;
        margin-inline: 2rem;
    }

    .row:nth-child(6) .notification-inner {
        display: flex;
        align-items: center;
    }

    .notification {
        margin-left: 0.5rem;
    }
}