@media screen and (max-width: 600px) {
    .header {
        margin-inline: 1rem;
        margin-top: 1rem;
    }

    .row {
        display: flex;
        margin-top: 2rem;
        margin-inline: 2rem;
    }
}